$site-width: 1440px;
$padding_main: 80px;
$font_main: 'Open Sans';
$font_heading: 'Banny';
$light_color: #FFFFFF;
$input-color: #E5E5E5;
$dark_color: #000000;
$dark_color-medium:rgba(0, 0, 0, 0.9);
$dark_color-light:rgba(0, 0, 0, 0.5);
$faded-color: rgba(51, 51, 51, 0.5);
$faded-color-dark:rgba(51, 51, 51, 0.2);
$faded-color-medium: rgba(255, 255, 255, 0.2);
$faded-color-light:rgba(255, 255, 255, 0.5);
$elements_color: #E8C300;

%line {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    border: 0.5px solid $faded-color-medium;

    &-center {
        left: 50%;
    }

    &-left {
        left: 295px;
    }

    &-right {
        right: 295px;
    }
}

%underline {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    margin: 10px auto 15px;
    background: $elements_color;
    border-radius: 50px;
}

%padding-top-bottom {
    padding-top: 100px;
    padding-bottom: 100px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: $site-width;
    min-width: 425px;
    font-family: $font_main;
}

.padding {
    padding-left: $padding_main;
    padding-right: $padding_main;
}

.heading {
    font-family: $font_heading;
    text-transform: uppercase;
    &__name {
        font-size: 96px;
    }

    &__name-block {
        font-size: 36px;
        line-height: 48px;
    }

    &__name-events {
        font-size: 24px;
        line-height: 12px;
    }

    &__dish {
        font-size: 18px;
        line-height: 18px;
    }
}

.button {
    border: 1px solid $faded-color-light;
    border-radius: 5px;
    background: transparent;
    height: 60px;
    font-family: $font_main;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}

.small_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.text_light {
    color: $light_color;
}

.text_dark {
    color: $dark_color;
}

.text_faded {
    color: $faded-color;
}

.text_faded-light {
    color: $faded-color-light;
}

.content {
    height: 675px;
    text-align: center;
    position: relative;

    &::before {
        @extend %line;
        @extend %line-center;
    }

    &__main::before {
        @extend %line;
        @extend %line-left;
    }

    &__main::after {
        @extend %line;
        @extend %line-right;
    }

    &__heading {
        padding-top: 40px;
        padding-bottom: 50px;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.5em;
        text-transform: uppercase;
    }
}

.flex_blocks {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 50%;
    position: relative;
    
    & img {
        max-width: 100%;
        filter: drop-shadow(0px 0px 50px $dark_color-light);
        border-radius: 5px;
        height: fit-content;
    }
   
    &::after {
        position: absolute;
        display: flex;
        content: "";
        width: 250px;
        height: 250px;
        top: 50%;
        border: 20px solid $elements_color;
        filter: drop-shadow(0px 0px 100px $dark_color-light);
        border-radius: 5px;
        z-index: 1;
        box-sizing: border-box;
        transform: translateY(-50%);
    }

    &_right {
        display: flex;
        justify-content: flex-start;
        &::after {
            left: 58%;
        }
    }

    &_left {
        display: flex;
        justify-content: flex-end;
        &::after {
            right: 58%;
        }
    }
}

.text_block {
    text-align: center;
    width: 50%;
    
    &-right {
        margin-right: 80px;
    }

    &-left {
        margin-left: 80px;
    }

    &__heading {
        padding-top: 20%;

        &::after {
            @extend %underline;  
        }
    }

    &__bold {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }

    &__text {
        padding-top: 25px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
}

.text_block-short {
    @extend %padding-top-bottom;
    text-align: center;

    &__heading {
        padding-top: 0;
    }

    &__text {
        padding-left: 438px - $padding_main;
        padding-right: 438px - $padding_main;
        padding-bottom: 50px;
    }
}

.form {
    &__grid {
        display: grid;
        gap: 10px;
    }

    &__input {
        background: $input-color;
        border-radius: 5px;
        font-family: $font_main;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-indent: 20px;
        padding-left: 10px;
        border: unset;
        text-transform: capitalize;
        height: 60px;
    }
}

input[type=date]::-webkit-calendar-picker-indicator { display: none }
input[type=time]::-webkit-calendar-picker-indicator { display: none }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none }

.socials {
    display: flex;
    flex-direction: column;

    & img {
        border: 1px solid $faded-color-medium;
        width: 30px;
        height: 20px;
        border-radius: 50px;
        padding: 15px 10px;
        margin-bottom: 20px;
    }
}


.nav {  
    display: flex;
    justify-content: space-between;
    height: 100px;

    &__part {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid $faded-color-medium;
        width: calc(50% - 110px);
    }

    &__rudder {
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__text {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        text-decoration: none;
    }
}

.home {
    background: url(../img/background/header_bg.png) no-repeat $dark_color-medium;
    height: 800px;
    position: relative;

    &::before {
        @extend %line;
        @extend %line-center;
        top: 203px;
        bottom: 140px;
    }

    &__main {
        display: flex;
        flex-direction: column;
    }

    &__main::before {
        @extend %line;
        @extend %line-left;
        top: 100px;
    }

    &__main::after {
        @extend %line;
        @extend %line-right;
        top: 100px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 225px;

        &-center {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-left: 40px;
        }

        &-center h6 {
            padding-left: 12px;
        }

        &-heading {
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.5em;
            text-transform: uppercase;
        }

        &-name {
            &::after {
                @extend %underline;
            }
        }
    }

    &__button {
        width: 200px;

        &:hover {
            background: $elements_color;
        }
    }

    &__button:first-child {
        margin-right: 40px;
    }

    &__rotate {
        writing-mode: vertical-rl;
        transform: rotate(180deg);;
    }
    &__button-down-block {
        align-self: center;
        width: 60px;
        height: 60px;
        border: 1px solid $faded-color-medium;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2px;
        margin-top: 90px;

        &::before {
            @extend %line;
            @extend %line-center;
            top: 720px;
        }
    }

    &__button-down {
        background: $light_color;
        width: 40px;
        height: 40px;
        border: unset;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.about {
    @extend %padding-top-bottom;
}


.team {
    background: url(../img/background/specialty_bg.png) no-repeat $dark_color-medium;
}

.booking {
    padding-top: 100px;
    padding-bottom: 40px;

    & p {
        text-align: center;
        padding-top: 45px;
    }

    &__heading {
        padding-top: 62px;
    }

    &__form {
        padding-left: 55px;
    }

    &__grid {
        grid-template-columns: auto auto;
    }

    &__button {
        width: 100%;
        margin-top: 10px;
    }
}

.specialties {
    background: url(../img/background/specialty_bg2.png) no-repeat $dark_color-medium;
}

.menu {
    &__list {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        padding-left: 300px - $padding_main;
        padding-right: 300px - $padding_main;
        list-style-type: none;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 50px;
        
        & li {
            border-right: 1px solid $faded-color-dark;
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
        }
        & li:last-child {
            border-right: unset;
        }
    }

    &__food {
        display: grid;
        grid-template-columns: auto auto auto; 
        grid-column-gap: 87px;
        &-block {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-bottom: 30px;
        }
        
        &-dish {
            display: flex;
            justify-content: space-between;
        }

        &-description {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            align-self: flex-start;
        }
    }
}

.events {
    background: url(../img/background/specialty_bg2.png) no-repeat $dark_color-medium;

    &_block:first-child {
        margin-right: 80px;
    }

    &_block h4 {
        writing-mode: vertical-rl;
        background: $dark_color;
        border-radius: 0px 5px 5px 0px;
        padding-left: 40px;
        padding-right: 40px;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-top: 20px;
        z-index: 1;
    }

    &_block:last-child h4{
        transform: rotate(180deg);
    }

    & p {
        text-align: center;
        padding-top: 45px;
    }
}

.gallery {
    display: flex;
    &__image {
        max-width: 100%;
    }
}

.contact {
    &__grid {
        grid-template-columns: auto auto auto;

        & textarea {
            box-sizing: border-box;
            height: 120px;
            grid-column-start: 1;
            grid-column-end: 4;
            padding-top: 15px;
        }
    }

    &__form-bottom {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 10px;
    }

    &__data {
        width: 100%;
        display: flex;
        justify-content: space-around;

        & svg {
            color: $elements_color;
            fill: $elements_color;
            padding-right: 10px;
        }
    }

    &__button {
        width: 50%;
    }
}

.footer {
    background: $dark_color-medium;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $faded-color-light;
}


@media (max-width: 1280px) {
    .text_block-short__text {
        padding-left: 380px - $padding_main;
        padding-right: 380px - $padding_main;
        padding-bottom: 30px;
    }

    .heading__dish {
        font-size: 14px;
    }
}

@media (max-width: 1080px) {

    .content__main::after, .home__main::after {
        right: 200px;
    }

    .content__main::before, .home__main::before {
        left: 200px;
    }

    .home {
        &__content {
            padding-top: 150px;
        }
        &__button {
            width: 180px;
        }

        &__button-down-block {
            margin-top: 165px;
        }
    }

    .content__heading {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .text_block__heading {
        padding-top: 5%;
    }

    .image::after {
        width: 200px;
        height: 200px;
    }

    .text_block-short__text {
        padding-left: 180px;;
        padding-right: 180px;;
    }
    
    .text_block-short__heading {
        padding-top: 0;
    }

    .menu__list {
        padding-left: 120px;
        padding-right: 120px;

        & li {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .menu__food-dish {
        flex-direction: column;
    }

    .contact__button {
        width: 35%;
    }
}

@media (max-width: 1032px) {
    .home__button-down-block {
        margin-top: 67px;
    }
}

@media (max-width: 768px) {

    .padding {
        padding-left: 50px;
        padding-right: 50px;
    }

    .content {
        &__heading {
            padding-top: 30px;
            padding-bottom: 15px;
        }
    }

    .content__main::before, .home__main::before {
        left: 140px;
    }

    .content__main::after, .home__main::after {
        right: 140px;
    }

    .home::before {
        top: 100px;
    }

    .nav {
        &__rudder {
            display: none;
        }

        &__part {
            width: 50%;
        }
    }

    .flex_blocks {
        flex-direction: column;
        align-items: center;
    }

    .image {
        padding-top: 20px;

        &::after {
            display: none;
        }

        &_left {
            order: 1;
        }
        
        & img {
            height: auto;
        }
    }

    .text_block-short, .about {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .text_block {
        width: 100%;
        
        &__text {
            padding-top: 15px;
        }

        &-right {
            margin-right: unset;
        }

        &-left {
            margin-left: unset;
        }
        
        &__heading {
            padding-top: unset;
        }
    
        &-short__text {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .booking {
        padding-top: 50px;
        
        &__form {
            padding-left: unset;
        }
    }

    .menu {
        &__list {
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 30px;
        }
    
        &__food {
            grid-template-columns: auto auto;
            grid-column-gap: 47px;
        }
    
        &__food-dish {
            flex-direction: row;
        }
    }

    .heading__name-events {
        font-size: 16px;
    }

    .events {
        & p {
            padding-top: 25px;
        }
    
        &_block {
            display: unset;
            width: 35%;
            order: unset;
            padding-top: 30px;
        }
    
        &_block:first-child {
            margin-right: unset;
        }
    
        &_block h4 {
            writing-mode: unset;
            padding-top: 20px;
            padding-bottom: 20px;
            width: 100%;
            height: unset;
            padding-left: 10px;
            padding-right: unset;
            top: 0px;
        }
    
        &_block:last-child h4 {
            transform: unset; 
        }
    }

    .contact {
        &__form-bottom {
            flex-direction: column;
        }
    
        &__data {
            flex-direction: row;
            padding-top: 10px;
        }
    
        &__button {
            order: -1;
            width: 100%;
        }
    }
}

@media (max-width: 608px) {

    .heading__name {
        font-size: 62px;
    }

    .home {
        &_buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        &__button:first-child {
            margin-right: unset;
            margin-bottom: 14px;
            margin-top: 10px;
        }
        &__button-down-block {
            margin-top: 67px;
        }
    }

    .content__heading {
        padding-top: 60px;
    }

    .content__main::before, .home__main::before {
        left: 105px;
    }

    .content__main::after, .home__main::after {
        right: 105px;
    }

    .events_block {
        width: 42%;
    }

    .text_block-short__text {
        padding-left: 0px;
        padding-right: 0px;
    }

    .menu__list {
        padding-left: unset;
        padding-right: unset;
    }

    .contact {

        &__grid {
            grid-template-columns: auto;
        }
        
        & textarea {
            grid-column-end: 2;
        }

        &__data {
            flex-direction: column;
            margin-top: 10px;
        }
    }
}

@media (max-width: 426px) {
    .home__button-down-block {
        margin-top: 67px;
    }
}

@media (max-width: 425px) {

    .content__main::before, .home__main::before {
        left: 83px;
    }

    .content__main::after, .home__main::after {
        right: 83px;
    }

    .padding {
        padding-left: 30px;
        padding-right: 30px;
    }

    .heading__name-block {
        font-size: 30px;
    }
    
    .home {
        &__content {
            flex-direction: column;
            padding-top: 80px;
            
            &-center {
                padding-left: unset;
            }
        }
    
        &__rotate {
            writing-mode: unset;
            transform: unset;
            order: 1;
        }

        &__button-down-block {
            margin-top: 28px;
        }
    }

    .socials {
        width: 50%;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
    }

    .content__heading {
        padding-top: 45px;
    }

    .events_block {
        width: 62%;
    }
}

@media (max-width: 390px) {
    .text_block__bold {
        font-size: 14px;
    }

    .events_block {
        width: 70%;
    }
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(1, 1, 1, 1) both;
	        animation: text-focus-in 1s cubic-bezier(1, 1, 1, 1) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

.heartbeat {
	-webkit-animation: heartbeat 10s steps(10, end) 10 backwards;
	        animation: heartbeat 10s steps(10, end) 10 backwards;
}
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */

 .rotate-center {
	-webkit-animation: rotate-center 2s ease-in-out both;
	        animation: rotate-center 2s ease-in-out both;
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  