.content::before, .content__main::before, .content__main::after, .home::before, .home__main::before, .home__main::after, .home__button-down-block::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0;
 
}

.content::before, .home::before, .home__button-down-block::before {
  left: 50%;
}

.content__main::before, .home__main::before {
  left: 295px;
}

.content__main::after, .home__main::after {
  right: 295px;
}

.text_block__heading::after, .home__content-name::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  margin: 10px auto 15px;
  background: #E8C300;
  border-radius: 50px;
}

.text_block-short, .about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-color {
  color: rgba(51, 51, 51, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

.text_spacing {
  letter-spacing: 0.5em;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 425px;
  font-family: "Open Sans";
}

.padding {
  padding-left: 80px;
  padding-right: 80px;
}

.heading {
  font-family: "A.C.M.E";
  text-transform: uppercase;
}

.heading__name {
  font-size: 96px;
}

.heading__name-block {
  font-size: 36px;
  line-height: 48px;
}

.heading__name-events {
  font-size: 24px;
  line-height: 12px;
}

.heading__dish {
  font-size: 18px;
  line-height: 18px;
}

.button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background: transparent;
  height: 60px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}


.text_light {
  color: #FFFFFF;
}

.text_dark {
  color: #000000;
}


.content {
  height: 675px;
  text-align: center;
  position: relative;
}

.content__heading {
  padding-top: 40px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.flex_blocks {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 50%;
  position: relative;
}

.image img {
  max-width: 100%;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  border-radius: 5px;

}


.image_right {
  display: flex;
  
}

.image_right::after {
  left: 58%;
}

.image_left {
  display: flex;
  justify-content: flex-end;
  
}

.image_left::after {
  right: 58%;
}

.text_block {
  text-align: center;
  width: 50%;
}

.text_block-right {
  margin-right: 80px;
}

.text_block-left {
  margin-left: 80px;
}

.text_block__heading {
  padding-top: 20%;
}

.text_block__bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.text_block__text {
  padding-top: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.text_block-short {
  text-align: center;
}

.text_block-short__heading {
  padding-top: 0;
}

.text_block-short__text {
  padding-left: 358px;
  padding-right: 358px;
  padding-bottom: 50px;
}

.form__grid {
  display: grid;
  gap: 10px;
}

.form__input {
  background: #E5E5E5;
  border-radius: 5px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-indent: 20px;
  padding-left: 10px;
  border: unset;
  text-transform: capitalize;
  height: 60px;
}

input[type=date]: {
  display: none;
}

input[type=time]: {
  display: none;
}


.nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.nav__part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(50% - 110px);
}

.nav__rudder {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.nav__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

.nav__text:hover {
 color: yellow;
}

.home {
  background: url(../img/background/header_bg.png) no-repeat rgba(0, 0, 0, 0.9);
  height: 800px;

}

.home::before {
  top: 203px;
  bottom: 140px;
}

.home__main {
  display: flex;
  flex-direction: column;
}

.home__main::before {
  top: 100px;
}

.home__main::after {
  top: 100px;
}

.home__content {
  display: flex;
  padding-top: 225px;
  padding-left: 285px;
  text-align: center;
  justify-content: space-between;
}

.home__content-center {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}


.home__button {
  width: 200px;
}

.home__button:hover {
  background: #E8C300;
}

.home__button:first-child {
  margin-right: 40px;
}



.home__button-down-block {
  align-self: center;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
  margin-top: 90px;
}

.home__button-down-block::before {
  top: 720px;
}

.home__button-down {
  background: #FFFFFF;
  width: 40px;
  height: 40px;
  border: unset;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  background: url(../img/background/specialty_bg.png) no-repeat rgba(0, 0, 0, 0.9);
}

.booking {
  padding-top: 100px;
  padding-bottom: 40px;
}

.booking p {
  text-align: center;
  padding-top: 45px;
}

.booking__heading {
  padding-top: 62px;
}

.booking__form {
  padding-left: 55px;
}

.booking__grid {
      grid-template-columns: auto auto;
}

.booking__button {
  width: 100%;
  margin-top: 10px;
  background: #E8C300;
  border-radius: 5px;
}

.specialties {
  background: url(../img/background/specialty_bg2.png) no-repeat rgba(0, 0, 0, 0.9);
}


.contact__grid {
      grid-template-columns: auto auto auto;
}

.contact__grid textarea {
  box-sizing: border-box;
  height: 120px;
  grid-column-start: 1;
  grid-column-end: 4;
  padding-top: 15px;
}

.contact__form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 40px;
  padding-left: 300px
}

.contact__button {
  width: 70%;
  background: #E8C300;
  border-radius: 5px;

}

.footer {
  background: rgba(0, 0, 0, 0.9);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1280px) {
  .text_block-short__text {
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 30px;
  }
  .heading__dish {
    font-size: 14px;
  }
}

@media (max-width: 1080px) {
  .content__main::after, .home__main::after {
    right: 200px;
  }
  .content__main::before, .home__main::before {
    left: 200px;
  }
  .home__content {
    padding-top: 150px;
  }
  .home__button {
    width: 180px;
  }
  .home__button-down-block {
    margin-top: 165px;
  }
  .content__heading {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .text_block__heading {
    padding-top: 5%;
  }
  .image::after {
    width: 200px;
    height: 200px;
  }
  .text_block-short__text {
    padding-left: 180px;
    padding-right: 180px;
  }
  .text_block-short__heading {
    padding-top: 0;
  }
  .contact__button {
    width: 35%;
  }
}

@media (max-width: 1032px) {
  .home__button-down-block {
    margin-top: 67px;
  }
}

@media (max-width: 768px) {
  .padding {
    padding-left: 50px;
    padding-right: 50px;
  }
  .content__heading {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .content__main::before, .home__main::before {
    left: 140px;
  }
  .content__main::after, .home__main::after {
    right: 140px;
  }
  .home::before {
    top: 100px;
  }
  .nav__rudder {
    display: none;
  }
  .nav__part {
    width: 50%;
  }
  .flex_blocks {
    flex-direction: column;
    align-items: center;
  }
  .image {
    padding-top: 20px;
  }
  .image::after {
    display: none;
  }
  .image_left {
    order: 1;
  }
  .image img {
    height: auto;
  }
  .text_block-short, .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .text_block {
    width: 100%;
  }
  .text_block__text {
    padding-top: 15px;
  }
  .text_block-right {
    margin-right: unset;
  }
  .text_block-left {
    margin-left: unset;
  }
  .text_block__heading {
    padding-top: unset;
  }
  .text_block-short__text {
    padding-left: 50px;
    padding-right: 50px;
  }
  .booking {
    padding-top: 50px;
  }
  .booking__form {
    padding-left: unset;
  }

  .heading__name-events {
    font-size: 16px;
  }
  .events p {
    padding-top: 25px;
  }

  .contact__form-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__button {
    order: -1;
    width: 100%;
  }
}

@media (max-width: 608px) {
  .heading__name {
    font-size: 62px;
  }
  .home__button:first-child {
    margin-right: unset;
    margin-bottom: 14px;
    margin-top: 10px;
  }
  .home__button-down-block {
    margin-top: 67px;
  }
  .content__heading {
    padding-top: 60px;
  }
  .content__main::before, .home__main::before {
    left: 105px;
  }
  .content__main::after, .home__main::after {
    right: 105px;
  }

  .text_block-short__text {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 426px) {
  .home__button-down-block {
    margin-top: 67px;
  }
}

@media (max-width: 425px) {
  .content__main::before, .home__main::before {
    left: 83px;
  }
  .content__main::after, .home__main::after {
    right: 83px;
  }
  .padding {
    padding-left: 30px;
    padding-right: 30px;
  }
  .heading__name-block {
    font-size: 30px;
  }
  
  .home__content-center {
    padding-left: unset;
  }
  
  .home__button-down-block {
    margin-top: 28px;
  }
  
  }
  .content__heading {
    padding-top: 45px;
  }
}

@media (max-width: 390px) {
  .text_block__bold {
    font-size: 14px;
  }
}





